.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(silogbg3.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .logo{
        position: absolute;
        border: 2px solid white;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        left: 70px;
        top: 30px;
    }
    
    .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 80px;
    align-content: center;
    }
    
    .nav-bar .title{
    color: white;
    font-size: 67px;
    font-weight: 600;
    }
    
    
    .menu-item li{
    list-style: none;
    display: inline-block;
    }
    
    .menu-item li a{
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
    transition: .4s ease;   
    }
    
    .menu-item li a:hover{
        color: white;
        background: blue;
        border-radius: 10px;
        padding: 5px 10px;          
    }

    :root {
        /* Base font size */
        font-size: 10px;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
        min-height: 100vh;
        background-color: #fafafa;
    }
    
    .content {
        max-width: 100rem;
        margin: 0 auto;
        padding: 0 2rem 2rem;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        /* Compensate for excess margin on outer gallery flex items */
        margin: -1rem -1rem;
    }
    
    .gallery-item {
        /* Minimum width of 24rem and grow to fit available space */
        flex: 1 0 24rem;
        /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
        margin: 1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }
    
    .gallery-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms ease-out;
    }
    
    .gallery-image:hover {
        transform: scale(1.15);
    }
    
    /*
    
    The following rule will only run if your browser supports CSS grid.
    
    Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 
    
    */
    
    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
            grid-gap: 2rem;
        }
    
        .gallery,
        .gallery-item {
            margin: 0;
        }
    }
    
